*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h5,h2,p{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
img{
    width: 160px;
    height: 160px;
    border-radius: 160px;
    margin-left: 35px;
    
}
.image img{
    border: none;
    height: 30px;
    width: 30px;
    padding: 5px;
    background-color: antiquewhite;
}
.box{
    display: flex;
    flex-wrap: wrap;
}
.card{
    background-color:white;
    margin: 20px;
    height: 500px;
    padding: 50px;
    border-radius: 15px;
    width: 22%;

}
body{
    background-color: antiquewhite;
}
h4{
    margin-top: 130px;
    text-align: center;
    font-size: 25px;
}
@media (max-width:600px) {

.box{
    display: inline;
}
.image{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 90%;
    height: 550px;
}
.card img{
    margin-left: 100px;
}
.image img{
    width: 10%;
    margin-left: 60px;

}
}